.EditCardFrame {
  /* position: fixed; */
  top: 5%;
  left: 10%;
  width: 80vw;
  height: 90vh;
  min-height: 30vh;
  max-height: 90vh;
  background-color: rgb(179, 177, 177);
  z-index: -1;
  border: 1px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow: auto;
}
